* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  background: '/media/images/wallpaper7.jpg';
  font-style: italic;
  text-align: center;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}
.header img{
  max-width: fit-content;
}
#navbar{
  display: flex;
  flex-direction: column;
}
#navbar a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 5px;
}
.link:hover{
  border-bottom: 1px black solid;
}
#social{
  padding: 5px;
  display: flex;
  align-self: flex-end;
}
#social img{
  width: 5vh;

}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

.shooting-pane{
  border: 1px black solid !important;
}

.shooting-pane:hover {
  border: 5px white solid !important;
}
.shooting-link{
  text-decoration: none;
  color: black;
}

.shooting-content
{
  text-wrap: wrap;

}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
