{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'styles\mosaic_photos.css' %}" />
    </head>
    <body>

    <!-- Header -->
    <div class="header">
        <h1 id="title">{{ title }}</h1>
        <div id="navbar">
            <div id="links">
                <a class="link" href="/about">ABOUT</a>
                <a class="link" href="/stories">STORIES</a>
                <a class="link" href="/contact">CONTACT</a>

            </div>
            <div id="social">
                <a href="https://www.instagram.com"><img src="{% static 'icons\instagram.png' %}"></a>
                <a href="https://www.facebook.com/profile.php?id=61553328430876"><img src="{% static 'icons\facebook.png' %}"></a>
            </div>
        </div>
    </div>

    <!-- Photo Grid -->
        <div class="row"> 
            <div class="column">
                {% for shooting in stories1 %}
                <a class="shooting-link" href="{% url 'shooting' shooting.id %}">
                    
                <div class="shooting-pane">
                    <span class="shooting-banner">
                        {% if shooting.cover %}
                            <img src="/media/{{shooting.cover}}">
                        {% else %}
                            <img src="{% static 'images\default_wallpaper.jpg' %}">

                        {% endif %}
                    </span>
                </div>
                </a>
                {% endfor %}
            </div>
            <div class="column">
                {% for shooting in stories2 %}
                <a class="shooting-link" href="{% url 'shooting' shooting.id %}">

                <div class="shooting-pane">
                    <span class="shooting-banner">
                        {% if shooting.cover %}
                            <img src="/media/{{shooting.cover}}">
                        {% else %}
                            <img src="{% static 'images\default_wallpaper.jpg' %}">

                        {% endif %}
                    </span>
                </div>
                </a>
                {% endfor %}
            </div>  
            <div class="column">
                {% for shooting in stories3 %}
                <a class="shooting-link" href="{% url 'shooting' shooting.id %}">

                <div class="shooting-pane">
                    <span class="shooting-banner">
                        {% if shooting.cover %}
                            <img src="/media/{{shooting.cover}}">
                        {% else %}
                            <img src="{% static 'images\default_wallpaper.jpg' %}">

                        {% endif %}
                    </span>
                </div>
                </a>
                {% endfor %}
            </div>
            <div class="column">
                {% for shooting in stories4 %}
                <a class="shooting-link" href="{% url 'shooting' shooting.id %}">

                <div class="shooting-pane">
                    <span class="shooting-banner">
                        {% if shooting.cover %}
                            <img src="/media/{{shooting.cover}}">
                        {% else %}
                            <img src="{% static 'images\default_wallpaper.jpg' %}">

                        {% endif %}
                    </span>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>

    </body>
</html>
